h1{
    font-family: Arial;
    position: relative;
    width: 600px;
    margin: 0 auto;
    left: 200px;
}
#main_div {
    top: 50px;
    position: relative;
    width: 700px;
    height: 700px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
#reset_button{
    position: absolute;
    bottom: 300px;
    width: 100px;
    height: 100px;
    background-color: #fa6987;
    font-family: Arial;
    font-size: 25px;
}
#slider{
    position:absolute;
    bottom: 500px;
}

footer{
    width:100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    background-color: #55cbd3;

}

a{
    position: relative;
    width: 10px;
    top: 10px;
    left: 823px;
}