#main_div {
    width: 860px;
    height: 860px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
#reset_button{
    position: absolute;
    bottom: 200px;
    width: 100px;
    height: 100px;
    background-color: #fa6987;
    font-family: Arial;
    font-size: 25px;
}
